body {
    background-color: #ebe6e6;
}

.form {
    justify-self: center;
    padding: 40%;
    border-radius: 20px;
    height: 85vh;
    background-color: #f4f4f4;
    font-size: 23px;
}

.form h3 {
    font-size: 15px;
    font-family: inherit !important;
}

/*Style Alunos*/

