.warnings {
    margin-top: 15px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    height: 85vh;
    background-color: #ebe6e6;
    font-size: 23px;
}

/*Cadastro de Alunos*/